.button {
    background: #fae05e;
    border: 0;
    padding: 0.5em;
    width: 70%;
    font-size: 0.9em;
    border-radius: 0.5em;

    &:disabled {
        background: #e9e6e6;
        color: #c7c4c4;
    }
    a {
        text-decoration: none;
        color: black;
    }
}