.button {
    background: #fae05e;
    border: 0;
    padding: 0.5em;
    width: 70%;
    font-size: 0.9em;
    border-radius: 0.5em;
    a {
        text-decoration: none;
        color: black;
    }
}