.menu-parent {
  position: fixed;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: #fae05e;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  li {
    a {
      display: block;
      background: #fae05e;
      padding: 5px 50px;
    }
    button {
      outline: none;
      border: 0px;
      display: block;
      background: #fae05e;
      padding: 5px 50px;
    }
  }
}
